In [2]:
SERVICE_KEY='6961566f586e613932374279584264'

In [3]:
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/'

In [3]:
import requests
import json
import pandas as pd

req= requests.get(URL)
req

NameError: name 'URL' is not defined

In [12]:
content=req.json()
result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
result

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2024,11560,영등포구,10200,영등포동1가,1,대지,0121,0005,여의도리슈빌DS,...,20600,21.41,31.43,7.0,,,2020,오피스텔,중개거래,서울 영등포구
1,2024,11740,강동구,10900,천호동,1,대지,0090,0002,도우빌라,...,36700,48.69,46.66,-1.0,,,1991,연립다세대,중개거래,서울 강동구
2,2024,11320,도봉구,10800,도봉동,1,대지,0051,0012,중흥에스-클래스,...,55000,85.00,0.00,3.0,,,2004,아파트,중개거래,서울 도봉구
3,2024,11545,금천구,10200,독산동,1,대지,1006,0115,중앙하이빌1동2동,...,23000,28.68,14.88,4.0,,,2016,연립다세대,직거래,
4,2024,11590,동작구,10300,상도1동,1,대지,0419,0003,종로빌리지,...,40000,69.13,48.37,3.0,,,1991,연립다세대,중개거래,서울 강남구

In [13]:
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/xml/tbLnOpendataRtmsV/1/5/'

In [19]:
from bs4 import BeautifulSoup

req=requests.get(URL)
soup=BeautifulSoup(req.content,'lxml')
#print(soup.prettify())

C:\Users\na990\AppData\Local\Temp\ipykernel_19384\932208229.py:4: XMLParsedAsHTMLWarning: It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.
  soup=BeautifulSoup(req.content,'lxml')

In [20]:
data = []
for row_elem in soup.find_all('row'):
    row_data = {}
    for field_elem in row_elem.find_all(True, recursive=False):
        row_data[field_elem.name] = field_elem.text.strip()
    data.append(row_data)

In [21]:
df = pd.DataFrame(data)
df

,acc_year,sgg_cd,sgg_nm,bjdong_cd,bjdong_nm,land_gbn,land_gbn_nm,bonbeon,bubeon,bldg_nm,...,obj_amt,bldg_area,tot_area,floor,right_gbn,cntl_ymd,build_year,house_type,req_gbn,rdealer_lawdnm
0,2024,11560,영등포구,10200,영등포동1가,1,대지,0121,0005,여의도리슈빌DS,...,20600,21.41,31.430000,7,,,2020,오피스텔,중개거래,서울 영등포구
1,2024,11740,강동구,10900,천호동,1,대지,0090,0002,도우빌라,...,36700,48.69,46.660000,-1,,,1991,연립다세대,중개거래,서울 강동구
2,2024,11320,도봉구,10800,도봉동,1,대지,0051,0012,중흥에스-클래스,...,55000,85,0.000000,3,,,2004,아파트,중개거래,서울 도봉구
3,2024,11545,금천구,10200,독산동,1,대지,1006,0115,중앙하이빌1동2동,...,23000,28.68,14.880000,4,,,2016,연립다세대,직거래,
4,2024,11590,동작구,10300,상도1동,1,대지,0419,0003,종로빌리지,...,40000,69.13,48.370000,3,,,1991,연립다세대,중개거래,서울 강남구

In [31]:
## 공공데이터 포털
PUBLIC_SERVICE_KEY='rONzFr5eZ66p1CAiNbCH0F9HHC9uTLkt5ARpa8wbcqmy6xIv%2FX89qWzJKvJSg10%2BPk6%2Fw72WGQhDQrs0svMdeg%3D%3D'
pageNo = 1 # 페이지 번호
numOfRows = 500 # 한 페이지 결과수
LAWD_CD = 11500 # 지역코드
DEAL_YMD = 202101 # 계약월
url = f'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey={PUBLIC_SERVICE_KEY}&pageNo={pageNo}&numOfRows={numOfRows}&LAWD_CD={LAWD_CD}&DEAL_YMD={DEAL_YMD}'
req = requests.get(url)
req

In [32]:
req.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE ACCESS DENIED ERROR.</resultMsg></header></response>'

In [32]:
import xmltodict

In [29]:
'''
contents=xmltodict.parse(req.text)
data=pd.DataFrame(contents['response']['body']['items']['item'])
data.head()
'''

ModuleNotFoundError: No module named 'xlmtodict'

In [36]:
#다중 데이터 수집
SERVICE_KEY='6961566f586e613932374279584264'
URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/1/5/'
URL

'http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1/5/'

In [84]:
for i in range(1,10):
    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'
    print(URL)

http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1/1000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/1001/2000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/2001/3000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/3001/4000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/4001/5000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/5001/6000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/6001/7000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/7001/8000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/8001/9000/

In [86]:
import warnings
warnings.filterwarnings('ignore')

In [87]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random

company_code = '005930' # 삼성전자
#url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
df=None
for n in range(1,13):
    url=f"https://finance.naver.com/item/sise_day.naver?code=005930&page={n}"
    response = requests.get(url, headers=headers)
    soup=BeautifulSoup(response.content,'html.parser')
    result=pd.read_html(response.text, encoding='euc-kr')[0]
    df=pd.concat([df,result],ignore_index=True)
df.dropna(inplace=True)

In [88]:
df

             날짜       종가     전일비       시가       고가       저가         거래량
1    2024.02.01  73500.0   800.0  73000.0  74200.0  72900.0   9119409.0
2    2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  15703560.0
3    2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
4    2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
5    2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
..          ...      ...     ...      ...      ...      ...         ...
189  2023.07.28  70600.0  1100.0  71800.0  72400.0  70100.0  19420683.0
190  2023.07.27  71700.0  1900.0  69900.0  71700.0  69300.0  24261179.0
191  2023.07.26  69800.0   200.0  69800.0  70600.0  68100.0  30016221.0
192  2023.07.25  70000.0   400.0  70000.0  70500.0  69800.0  14314945.0
193  2023.07.24  70400.0   100.0  70100.0  70900.0  69900.0  13418597.0

[130 rows x 7 columns]

In [4]:
df=None
for i in range(367,460):
    URL=f'http://openapi.seoul.go.kr:8088/{SERVICE_KEY}/json/tbLnOpendataRtmsV/{1+(i-1)*1000}/{i*1000}/'
    print(URL)
    req= requests.get(URL)
    content=req.json()
    result=pd.DataFrame(content['tbLnOpendataRtmsV']['row'])
    df=pd.concat([df,result])
df=df.reset_index(drop=True)
df

http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/366001/367000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/367001/368000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/368001/369000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/369001/370000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/370001/371000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/371001/372000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/372001/373000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/373001/374000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/374001/375000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/375001/376000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/376001/377000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/377001/378000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/378001/379000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/379001/380000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/380001/381000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/381001/382000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/382001/383000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/383001/384000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/384001/385000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/385001/386000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/386001/387000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/387001/388000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/388001/389000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/389001/390000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/390001/391000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/391001/392000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/392001/393000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/393001/394000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/394001/395000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/395001/396000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/396001/397000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/397001/398000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/398001/399000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/399001/400000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/400001/401000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/401001/402000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/402001/403000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/403001/404000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/404001/405000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/405001/406000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/406001/407000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/407001/408000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/408001/409000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/409001/410000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/410001/411000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/411001/412000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/412001/413000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/413001/414000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/414001/415000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/415001/416000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/416001/417000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/417001/418000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/418001/419000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/419001/420000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/420001/421000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/421001/422000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/422001/423000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/423001/424000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/424001/425000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/425001/426000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/426001/427000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/427001/428000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/428001/429000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/429001/430000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/430001/431000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/431001/432000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/432001/433000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/433001/434000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/434001/435000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/435001/436000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/436001/437000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/437001/438000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/438001/439000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/439001/440000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/440001/441000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/441001/442000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/442001/443000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/443001/444000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/444001/445000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/445001/446000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/446001/447000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/447001/448000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/448001/449000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/449001/450000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/450001/451000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/451001/452000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/452001/453000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/453001/454000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/454001/455000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/455001/456000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/456001/457000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/457001/458000/
http://openapi.seoul.go.kr:8088/6961566f586e613932374279584264/json/tbLnOpendataRtmsV/458001/459000/

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2020,11215,광진구,10400,광장동,1,대지,0148,0004,워커힐푸르지오,...,81000,65.66,0.00,3.0,,,1987,아파트,,
1,2020,11320,도봉구,10700,창동,1,대지,0819,0000,태영데시앙,...,70500,85.00,0.00,18.0,,,2003,아파트,,
2,2020,11380,은평구,10200,녹번동,1,대지,0095,0016,효진빌라,...,20600,55.73,26.42,4.0,,20200914,1996,연립다세대,,
3,2020,11290,성북구,13300,정릉동,1,대지,1031,0000,정릉힐스테이트3차,...,68800,84.97,0.00,1.0,,,2008,아파트,,
4,2020,11230,동대문구,10600,장안동,1,대지,0336,0000,장안현대홈타운(336),...,85500,84.87,0.00,11.0,,,2003,아파트,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92995,2020,11680,강남구,11800,도곡동,1,대지,0895,0008,한신엠비씨,...,200000,117.57,0.00,14.0,,,1988,아파트,,
92996,2019,11560,영등포구,13200,신길동,1,대지,0102,0008,우성4,...,70000,75.36,0.00,11.0,,,1991,아파트,,
92997,2020,11560,영등포구,12900,양평동5가,1,대지,0076,0000,한신,...,64500,59.94,0.00,11.0,,,1996,아파트,,
92998,2020,11290,성북구,13700,상월곡동,1,대지,0055,0056,우남푸르미아,...,34000,59.64,0.00,2.0,,,1994,아파트,,
92999,2020,11650,서초구,10600,잠원동,1,대지,0063,0034,한신로얄,...,182000,81.05,0.00,12.0,,,1992,아파트,,

In [7]:
df.to_csv('./data/376~430')

TypeError: NDFrame.to_csv() got an unexpected keyword argument 'drop_index'

In [ ]:
df